* {
  background-color: #EFE5DC;
}

.a {
  color: #F80000;
}

.a:hover {
  color: #FBFEFB;
  text-shadow: 1px 1px 1px #F80000;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(251, 254, 251);
  font-weight: 500;
  font-size: 72px;
  text-shadow: 2px 2px 5px #F80000;
}

.linkList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.diningIn, .goingOut, .recipeRec, .restRec, .restaurantRec, .contact, .recipesRec {
  display: flex;
  color: #D0B8AC;
  text-shadow: 5px 5px 5px #F3D8C7;
}

.out {
  display: flex;
  align-self: flex-end;
}

img {
  border-radius: 100px;
  filter: drop-shadow(10px 10px 10px #F3D8C7);
}

.foodieList {
  list-style: none;
  display: flex;
  flex-direction: row;
  
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  max-width: 300px;
}

.recipes, .restaurants, .foodies, .restsaurants  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recipePage, .restPage, .restaurantPage, .restaurantsPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipeList, .recipesList, .restaurantList, .restaurantsList, .restaurantxList {
  list-style: none;
}

.recipeList, .restaurantsList, .restaurantList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.fa-brands {
  color: #F80000;
}

.recipeImg {
  width: 100px;
  height: 100px;
}

.restaurantImg {
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  flex-direction: row;
}