* {
  background-color: #EFE5DC;
}

.home {
  color: rgb(251, 254, 251);
}

.userCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(251, 254, 251);
  font-weight: 500;
  font-size: 72px;
  text-shadow: 2px 2px 5px #F80000;
}