* {
  background-color: #EFE5DC;
}

.a {
  color: #F80000;
}

.a:hover {
  color: #FBFEFB;
  text-shadow: 1px 1px 1px #F80000;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(251, 254, 251);
  font-weight: 500;
  font-size: 72px;
  text-shadow: 2px 2px 5px #F80000;
}

.linkList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.diningIn, .goingOut, .recipeRec, .restRec {
  display: flex;
  color: #D0B8AC;
  text-shadow: 5px 5px 5px #F3D8C7;
}

.out {
  display: flex;
  align-self: flex-end;
}

img {
  border-radius: 100px;
  filter: drop-shadow(10px 10px 10px #F3D8C7)
}

.userCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  max-width: 300px;
}

.recipes, .restaurants, .foodies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recipePage, .restPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipeList {
  list-style: none;
}